#photo {
    border: 2px solid blue;
}

h1 {
    color: blue;
}

h2 {
    color: maroon;
}

div {
    margin: 4px;
}

/* Add a style for the copyright footnote */
.copyright {
    text-align: center;
    margin-top: 20px;
    color: gray;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    text-align: center;
}
